@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @using (Html.BeginForm("Register", "Home", FormMethod.Post))
    {
        <div>Name:</div>
        <div>@Html.TextBox("Name")</div>
        <br />
        <div><button type="submit">Submit</button></div>
    }

</div>
